@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --primary-color: #fc8210;
  --WHITE-CHICKS: #ffffff;
}

.head {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
}

.head h1 {
  color: var(--WHITE-CHICKS);
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
}
